In [ ]:
# 10807
num = int(input())
numlist = list(map(int, input().split()))
k = int(input())
print(numlist.count(k))

11
1 4 1 2 4 2 4 2 3 4 4
2
3

In [ ]:
# 10871
N, X = input().split()
numlist = list(map(int, input().split()))
for i in numlist:
  if i < int(X) :
    print(i, end = ' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [ ]:
# 10818
N = input()
numlist = list(map(int, input().split()))
maxx = max(numlist)
minn = min(numlist)
print( minn, maxx)

5
20 10 35 30 7
35 7

In [ ]:
# 2562
import sys
lst = []

for _ in range(9):
  num = int(sys.stdin.readline())
  lst.append(num)

g = max(lst)
print(g)
print(lst.index(g) + 1)

- readline() - 파일의 한 줄을 가져와 문자열로 반환합니다. 파일 포인터는 그 다음줄로 이동합니다.

- readlines() - 파일 내용 전체를 가져와 리스트로 반환합니다. 각 줄은 문자열 형태로 리스트의 요소로 저장됩니다.

In [ ]:
# 10810

N, M = map(int, input().split())
lst = ['0'] * N
for _ in range(M):
  i, j , k = map(int, input().split())
  for ch in range(i-1,j):
    lst[ch] = str(k)

lst = ' '.join(lst)
print(lst)

> Error occurrence factor

- ' '.join(list)를 하려면 list 안에 원소들이 모두 str 타입이어야 하는데, **lst = [0] * N** 으로 지정해주어서 제대로 str으로 변환이 되지 않았었다.

In [ ]:
a = ['1','2','3']
''.join(a)

'123'

### **String을 List로**


```python
text = 'abcd'
list1 = list(text)
list1
>>> ['a', 'b', 'c', 'd']
```

### **List를 String으로**
```python
list1 = ['a', 'b', 'c', 'd']
str2 = ''.join(list1)
```

In [ ]:
# 10813
N, M = map(int,input().split())
lst = [str(x) for x in range(1, N+1)]
for _ in range(M):
  i, j = map(int, input().split())
  lst[i-1], lst[j-1] = lst[j-1], lst[i-1]

lst = ' '.join(lst)
print(lst)

3

[1, 2, 3]

In [ ]:
# 5597
stu = [0] *31
for _ in range(28):
  num = int(input())
  stu[num] = 1

fir = stu.index(0)
sec = stu.index(0, fir+1)
thir = stu.index(0, sec+1)

print(sec, end = '\n')
print(thir)

1
2

> **array.index(x[, start[, stop]])**

- array.index(x) 리스트에서 x의 인덱스 반환
- array.index(x, start) 리스트[start:]에서 x의 인덱스 반환
- array.index(x, start, stop) 리스트[start:stop]에서 x의 인덱스 반환

- 중복된 원소가 있으면 가장 작은 인덱스를 리턴
- 문자열에서도 인덱스를 찾을 수 있음

In [ ]:
# 3052
a = []
for _ in range(10):
  a.append(int(input()) % 42)
print(len(set(a)))

In [44]:
# 10811
N, M = map(int,input().split())
array = [str(x) for x in range(1, N+1)]
for _ in range(M):
  st, en = map(int,input().split())
  if st == en:
    continue
  changear = list(reversed(array[st-1 : en]))
  idx = 0
  for i in range(st-1, en): # st-1 ~ en-1
    array[i] = changear[idx]
    idx += 1

rst = ' '.join(array)
print(rst)

5 4
1 2
['2', '1']
['2', '2', '3', '4', '5']
['2', '1', '3', '4', '5']
3 4
['4', '3']
['2', '1', '4', '4', '5']
['2', '1', '4', '3', '5']
1 4
['3', '4', '1', '2']
['3', '1', '4', '3', '5']
['3', '4', '4', '3', '5']
['3', '4', '1', '3', '5']
['3', '4', '1', '2', '5']
2 2
3 4 1 2 5

### List 내의 일부 순서 바꾸기

```python
# reverse() : 원본 파일을 변화시킴
lst = [1,2,3,4,5]
lst_reverse = list(reversed(lst))
lst_reverse
>>> [5,4,3,2,1]
```
```python
# reverse()
lst = [1,2,3,4,5]
lst.reverse()
lst
>>> [5,4,3,2,1]
```

```python
# for 반복문을 통한 뒤집기
lst = [1,2,3,4,5]
lst.reverse()
lst
>>> [5,4,3,2,1]
```

```python
a = [0,1,2,3,4,5,6,7]
a[5:3:-1]
>>> [5, 4]
```

In [54]:
# 1546
N = int(input())
a = list(map(int, input().split()))
M = max(a)
change = list(map(lambda x : x / M * 100, a))
print(int(sum(change)) / N)

3
40 50 60
83.33333333333333